#s1,#s2 {
    font-weight: bolder;
    float: left;
    background: orange;
    background-position:0% 35%;
    width: 35%;
    height: 70%;
    margin: 5%;
    border: 2px solid black;
    text-align: center;
    overflow: hidden;
}
#s1_in,#s2_in {
    position: relative;
    background-color: blue;
    width: 100%;
    height: 100%;
}
